<section class="block block--dark block--skewed-left">
  <div class="container">
    <header class="block__header">
      <h2>Heading</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe,
        similique.
      </p>
    </header>
  </div>
</section>
<section class="container block">
  <header class="block__header">
    <h2>Heading</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe, similique.
    </p>
  </header>
</section>
<section class="block block--dark block--skewed-right">
  <div class="container">
    <header class="block__header">
      <h2>Heading</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe,
        similique.
      </p>
    </header>
  </div>
</section>
