<div class="collapsible">
  <header class="collapsible__header">
    <h3 class="collapsible__heading">Item 1</h3>
    <svg class="icon icon--white collapsible__toggler">
      <use xlink:href="images/sprite.svg#chevron"></use>
    </svg>
  </header>
  <div class="collapsible__content">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt eaque
    repudiandae ducimus exercitationem mollitia magnam! Odit obcaecati eligendi
    voluptate voluptatum.
  </div>
</div>
<div class="collapsible">
  <header class="collapsible__header">
    <h3 class="collapsible__heading">Item 2</h3>
    <svg class="icon icon--white collapsible__toggler">
      <use xlink:href="images/sprite.svg#chevron"></use>
    </svg>
  </header>
  <div class="collapsible__content">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt eaque
    repudiandae ducimus exercitationem mollitia magnam! Odit obcaecati eligendi
    voluptate voluptatum.
  </div>
</div>
