<div class="grid grid--cols-2">
  <div
    style="background: tomato; border: 1px solid; height: 100px; width: 100%"
  ></div>
  <div
    style="background: tomato; border: 1px solid; height: 100px; width: 100%"
  ></div>
</div>
<div class="grid grid--cols-3">
  <div
    style="background: tomato; border: 1px solid; height: 100px; width: 100%"
  ></div>
  <div
    style="background: tomato; border: 1px solid; height: 100px; width: 100%"
  ></div>
  <div
    style="background: tomato; border: 1px solid; height: 100px; width: 100%"
  ></div>
</div>
