<div class="media">
  <div class="media__image">
    <svg class="icon icon--primary">
      <use xlink:href="images/sprite.svg#snap"></use>
    </svg>
  </div>
  <div class="media__body">
    <h3 class="media__title">Easy Start & Managed Updates</h3>
    <p class="media__text">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias, culpa.
      Expedita facilis dolorum labore dolores fuga sapiente, mollitia nam.
      Aperiam voluptatibus cupiditate nobis atque minus recusandae, laborum
      labore? Incidunt, totam?
    </p>
  </div>
</div>
