<div class="card card--secondary plan">
  <header class="card__header">
    <h3 class="plan__name">Entry</h3>
    <span class="plan__price">$14</span>
    <span class="plan__billing-cycle">/month</span>
    <span class="badge badge--small badge--secondary">10% off</span>
    <p class="plan__description">Easy start on the cloud.</p>
  </header>
  <div class="card__body">
    <ul class="list list--ticked plan__list">
      <li class="list__item">Unlimited Websites</li>
      <li class="list__item">Unlimited Bandwidth</li>
      <li class="list__item">100GB SSD Storage</li>
      <li class="list__item">3GB RAM</li>
    </ul>
    <a href="#" class="btn btn--outlined btn--block">buy now</a>
  </div>
</div>
<div class="card card--primary plan plan--popular">
  <header class="card__header">
    <h3 class="plan__name">Business</h3>
    <span class="plan__price">$34</span>
    <span class="plan__billing-cycle">/month</span>
    <span class="badge badge--small badge--primary">10% off</span>
    <p class="plan__description">Business standard cloud experience.</p>
  </header>
  <div class="card__body">
    <ul class="list list--ticked plan__list">
      <li class="list__item">Unlimited Websites</li>
      <li class="list__item">Unlimited Bandwidth</li>
      <li class="list__item">1TB SSD Storage</li>
      <li class="list__item">6GB RAM</li>
    </ul>
    <a href="#" class="btn btn--outlined btn--block">buy now</a>
  </div>
</div>
<div class="card card--secondary plan">
  <header class="card__header">
    <h3 class="plan__name">Business+</h3>
    <span class="plan__price">$74</span>
    <span class="plan__billing-cycle">/month</span>
    <span class="badge badge--small badge--secondary">10% off</span>
    <p class="plan__description">
      Optimal cloud experience for big businesses.
    </p>
  </header>
  <div class="card__body">
    <ul class="list list--ticked plan__list">
      <li class="list__item">Unlimited Websites</li>
      <li class="list__item">Unlimited Bandwidth</li>
      <li class="list__item">2 x 1TB SSD Storage</li>
      <li class="list__item">6GB RAM</li>
      <li class="list__item">Optional Additional Secondary Storage</li>
    </ul>
    <a href="#" class="btn btn--outlined btn--block">buy now</a>
  </div>
</div>
